<!doctype html>
<html class="fixed"
      lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>

  <!-- Basic -->
  <meta charset="UTF-8">

  <title>Adaugă utilizator</title>
  <meta name="keywords" content="HTML5 Admin Template" />
  <meta name="description" content="Porto Admin - Responsive HTML5 Template">
  <meta name="author" content="okler.net">

  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  <!-- Web Fonts  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

  <!-- Vendor CSS -->
  <link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.css" />
  <link rel="stylesheet" href="assets/vendor/magnific-popup/magnific-popup.css" />
  <link rel="stylesheet" href="assets/vendor/bootstrap-datepicker/css/datepicker3.css" />

  <!-- Specific Page Vendor CSS -->
  <link rel="stylesheet" href="assets/vendor/select2/select2.css" />
  <link rel="stylesheet" href="assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />

  <!-- Theme CSS -->
  <link rel="stylesheet" href="assets/stylesheets/theme.css" />

  <!-- Skin CSS -->
  <link rel="stylesheet" href="assets/stylesheets/skins/default.css" />

  <!-- Theme Custom CSS -->
  <link rel="stylesheet" href="assets/stylesheets/theme-custom.css">

  <!-- Head Libs -->
  <script src="assets/vendor/modernizr/modernizr.js"></script>

</head>
<body>
<section class="body">

  <!-- start: header -->
  <header class="header">
    <div class="logo-container">
      <!--					<a href="../" class="logo">-->
      <!--						<img src="assets/images/logo.png" alt="JSOFT Admin" />-->
      <!--					</a>-->
      <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
      </div>
    </div>

    <!-- start: search & user box -->
    <div class="header-right">

      <span class="separator"></span>

      <div id="userbox" class="userbox">
        <a href="#" data-toggle="dropdown">
          <figure class="profile-picture">
            <img src="assets/images/!logged-user.jpg" alt="Joseph Doe" class="img-circle" data-lock-picture="assets/images/!logged-user.jpg" />
          </figure>
          <div class="profile-info" data-lock-name="John Doe" data-lock-email="johndoe@JSOFT.com">
            <span class="name">Contul meu</span>
            <!--<span class="role">administrator</span>-->
          </div>

          <i class="fa custom-caret"></i>
        </a>

        <div class="dropdown-menu">
          <ul class="list-unstyled">
            <li class="divider"></li>
            <li>
              <a role="menuitem" tabindex="-1" href="pages-signin"><i class="fa fa-user"></i>Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end: search & user box -->
  </header>
  <!-- end: header -->

  <div class="inner-wrapper">
    <!-- start: sidebar -->
    <aside id="sidebar-left" class="sidebar-left">

      <div class="sidebar-header">
        <div class="sidebar-title" style="color:lightgrey">
          Meniu
        </div>
        <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html" data-fire-event="sidebar-left-toggle">
          <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
        </div>
      </div>

      <div class="nano">
        <div class="nano-content">
          <nav id="menu" class="nav-main" role="navigation">
            <ul class="nav nav-main">
              <li class="nav-active">
                <a href="index">
                  <i class="fa fa-home" aria-hidden="true"></i>
                  <span>Dashboard</span>
                </a>
              </li>
              <li class="nav-parent">
                <a>
                  <i class="fa fa-copy" aria-hidden="true"></i>
                  <span>Pagini</span>
                </a>
                <ul class="nav nav-children">
                  <li>
                    <a href="menu">
                      Produse
                    </a>
                  </li>
                  <li>
                    <a href="tables">
                      Mese și locuri
                    </a>
                  </li>
                  <li>
                    <a href="users">
                      Utilizatori
                    </a>
                  </li>
                  <li>
                    <a href="reservations">
                      Rezervari
                    </a>
                  </li>
                  <li>
                    <a href="reviews">
                      Review-uri
                    </a>
                  </li>
                  <li>
                    <a href="collabForm">
                      Cereri colaborare
                    </a>
                  </li>
                  <li>
                    <a href="sales">
                      Vânzări online
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>

    </aside>

    <!-- end: sidebar -->

    <section role="main" class="content-body">
      <header class="page-header">
        <h2>Adaugă utilizator</h2>

        <div class="right-wrapper pull-right">
          <ol class="breadcrumbs">
            <li>
              <a href="index">
                <i class="fa fa-home"></i>
              </a>
            </li>
            <li><span>Utilizatori</span></li>
            <li><span>Adaugă utilizator</span></li>
          </ol>

          <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>
      </header>
      <div class="row">
        <div th:if="${param.error}">
          <div class="alert alert-danger">
            Există deja acest email!
          </div>
        </div>
        <div class="col-lg-12">
          <section class="panel">
            <header class="panel-heading">
              <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
              </div>
              <h2 class="panel-title">Adaugă utilizator</h2>
            </header>
            <div class="panel-body">
              <form method="post"
                    role="form"
                    id="book-table-form"
                    th:action="@{/addUser}"
                    th:object="${user}">
                <input type="hidden" field ="*{id}"/>

                <div class="row mb-5">
                  <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="text"
                           id="lastName"
                           name="lastName"
                           class="form-control form-control-lg custom-form-control"
                           placeholder="Nume"
                           required>
                    <p errors="*{lastName}" class="text-danger"
                       if="${#fields.hasErrors('lastName')}"></p>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="text"
                           id="firstName"
                           name="firstName"
                           class="form-control form-control-lg custom-form-control"
                           placeholder="Prenume"
                           required>
                    <p errors="*{firstName}" class="text-danger"
                       if="${#fields.hasErrors('firstName')}"></p>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="email"
                           id="email"
                           name="email"
                           class="form-control form-control-lg custom-form-control"
                           placeholder="Email"
                           required>
                    <p errors="*{email}" class="text-danger"
                       if="${#fields.hasErrors('email')}"></p>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control form-control-lg custom-form-control"
                           placeholder="Parolă"
                           required>
                    <p errors="*{password}" class="text-danger"
                       if="${#fields.hasErrors('password')}"></p>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <select id="appUserRole"
                            name="appUserRole"
                            class="form-control form-control-lg custom-form-control"
                            required>
                      <option value="" disabled selected>Rol</option>
                      <option value="ADMIN">ADMIN</option>
                      <option value="USER">USER</option>
                    </select>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <select id="locked"
                            name="locked"
                            class="form-control form-control-lg custom-form-control"
                            required>
                      <option value="" disabled selected>Blocat</option>
                      <option value="1">true</option>
                      <option value="0">false</option>
                    </select>
                  </div>
                  <div class="col-sm-6 col-md-3 col-xs-12 my-2">
                    <select id="enabled"
                            name="enabled"
                            class="form-control form-control-lg custom-form-control"
                            th:placeholder="Activ"
                            required>
                      <option value="" disabled selected>Activ</option>
                      <option value="1">true</option>
                      <option value="0">false</option>
                    </select>
                  </div>
                </div>
                <br>
                <br>
                <button class="btn btn-primary" type="submit">Adaugă</button>
              </form>
            </div>
          </section>
        </div>
      </div>
    </section>
  </div>
</section>

<!--<script>
  document.getElementById("enabled").addEventListener("change", function() {
    var placeholderOption = this.querySelector('[disabled]');
    if (placeholderOption) {
      placeholderOption.remove();
    }
  });
</script>-->
<!-- Vendor -->
<script src="assets/vendor/jquery/jquery.js"></script>
<script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
<script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
<script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
<script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

<!-- Specific Page Vendor -->
<script src="assets/vendor/jquery-autosize/jquery.autosize.js"></script>
<script src="assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>

<!-- Theme Base, Components and Settings -->
<script src="assets/javascripts/theme.js"></script>

<!-- Theme Custom -->
<script src="assets/javascripts/theme.custom.js"></script>

<!-- Theme Initialization Files -->
<script src="assets/javascripts/theme.init.js"></script>


</body>
</html>